/* FONT STYLE */
@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");

/* ===================================== */
/* GENERAL */
/* ===================================== */
/* LINKS STYLE */
a {
  color: black;
}

/* Make components clickeables */
.clickeable {
  cursor: pointer;
}

/* Viewport */
.h-100 {
  height: 100vh;
}

.w-100 {
  width: 100vw;
}

/* Center */
.justify-content-center {
  justify-content: center;
}

/* ===================================== */
/* CUSTOM */
/* ===================================== */
/* NAVBAR LOGO */
.brand-logo,
h2 {
  font-family: "Grand Hotel", cursive;
}

/* Navbar Layout */
nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

nav .brand-logo {
  position: relative !important;
}

nav ul {
  margin: 0;
}

/* Profile */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  width: 30%;
  margin-bottom: 2%;
}
